*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbarbox{
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}
.navbarleft{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.logo{
    font-size: 20px;
}
.navbarcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchIcon{
    position: relative;
    top: 8px;
    justify-content: space-between;
    margin-right: 10px;
}
/* .navbarright{
    display: flex;
    
} */
.navbarright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarlinks ul li{
    
    display: inline;
    margin-right: 10px;
       
}
.navbarlinks ul li a{
    text-decoration: none;
}
.navbaricons{
    display: flex;
    margin-left: 10px;
}
.navbaricon{
    margin-left: 10px;
}
.pic{
    width: 40px;
    margin: 10px;
    position: relative;
    top: 2px;
}
.profilepic{
    width: 100%;
    border-radius: 50px;
}

