*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbarbox{
    display: flex;
    position: fixed;
    background-color: #3b5998;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbarleft{
    display: flex;
    flex: 4;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}
.logo{
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.navbarcenter{
    display: flex;
    flex: 3;
    justify-content: start;
    align-items: center;
}
.searchbarbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 30px;
    position: relative;
    top: 2px;
    border-radius: 20px;
    background-color:white;
}
.searchIcon{
   margin-top: 3px;
    margin-left: 10px;
}
.searchbarbox input{
    border: none;
    width: 80%;
    outline: none;
}

/* .navbarright{
    display: flex;
    
} */
.navbarright{
    display: flex;
    flex: 5;
    justify-content: space-evenly;
    align-items: center;
}

.navbarlinks ul li{
    
    display: inline;
    margin-right: 10px;
       
}
.navbarlinks ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 25px
}
.navbaricons{
    display: flex;
    margin-left: 10px;
}
.navbaricon{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.navbaricon span{
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 10px;   
}
.pic{
    width: 40px;
    margin: 10px;
    position: relative;
    top: 2px;
}
.profilepic{
    width: 100%;
    border-radius: 50px;
}

