*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rightflanbox{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    background-color: brown;
}
.rightflancontainer{
    margin:10px 10px 10px 5px;
    font-family: 'Times New Roman', Times, serif;
}
.addimage{
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}
.sponsered{
    font-size: 20px;
    font-weight: bold;
    color: rgb(228, 138, 20);

}
.addtext{

}
.birthdayimage{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-right: 5px;
}

.birthdaycontainer{
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
    
}
.friendlist{
    margin-top: 10px;
}
.onlinefrind{
    list-style: none;
    display: flex;
    align-items: center;

}
.onlinefriendimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}
.friendlist{
    height: 50px;
    margin-bottom: 5px;
    -webkit-box-shadow: 2px 8px 8px -5px rgba(0,0,0,0.75); 
    box-shadow: 2px 8px 8px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
    
}
.onlineriendcontainer{
    display: flex;
    align-items: center;
}
.onlinestatus{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    right: 20px;
    top: 15px;
    border: 2px solid white;
}