*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post{
    margin: 10px;
    padding: 15px;
    margin-right: 20px;
    width: 98%;
    font-family: sans-serif;
    -webkit-box-shadow: 2px 8px 8px -5px rgba(0,0,0,0.75); 
    box-shadow: 2px 8px 8px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.posttop{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
   
}
.postimage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
.postusername{
    margin-right: 10px;
}
.posttime{
    font-size: 0.75rem;
}
.postdimage{
    width: 100%;
    background-size: cover;
    margin-left: 10px;
}
.posbottom{
    width: 98%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 8px;

    justify-content: space-between;
}
.postbottomleft{
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}
.reactionpic{
    margin-right: 5px;
}
.likecount{
    margin-left: 5px;
    font-size: 16px;
}
.commentcount{
    cursor: pointer;
}
.postcaption{
    display: flex;
    align-items: center;
    margin:10px 0 10px 20px;
}